<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="company.tap.cardscanner">
    <uses-feature android:name="android.hardware.camera" />
    <!-- Features -->
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application>
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,OCR-B,OCR-A" />
    </application>

</manifest>